fastapi==0.115.6
uvicorn[standard]==0.32.1
python-dotenv==1.0.1
pydantic==2.10.4

langchain==0.3.13
langchain-community==0.3.13
langchain-openai==0.2.14
langgraph==0.2.62

qdrant-client==1.12.1
langchain-qdrant==0.2.0

tavily-python==0.5.0

langfuse==2.57.7

ragas==0.2.10
datasets==3.2.0

pandas==2.2.3
sqlalchemy==2.0.36
